<!DOCTYPE html>
<html>
<head>
    <title>About us</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
        crossorigin="anonymous"
    >
    <link 
        rel="stylesheet" 
        href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
    >
    <link 
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" 
        rel="stylesheet"
    >
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="../statics/css/style.css"
    >
</head>

<body>
<div>
    <nav class="navbar navbar-expand-xl navbar-light d-flex shadow-div">
        <div class="container">
            <div class="mr-auto p-2">
                <a class="navbar-brand" href="#">
                    <img src="../statics/icon/Logotargo.svg" alt="Logo">
                </a>
            </div>

            <div class="col-md-6 p-2">
                    <ul class="nav justify-content-between list-unstyled">
                        <li>
                            <a class="nav-link normal-link" href="home.html"><h5>Home</h5></a>
                        </li>
                        <li>
                            <a class="nav-link normal-link" href="job.html"><h5>Job</h5></a>
                        </li>
                        <li>
                            <a class="nav-link normal-link" href="fruit.html"><h5>Fruit</h5></a>
                        </li>
                        <li>
                            <a class="nav-link normal-link" href="stay.html"><h5>Room</h5></a>
                        </li>
                        <li>
                            <a class="nav-link normal-link" href="faq.html"><h5>FAQ</h5></a>
                        </li>
                        <li>
                            <a class="nav-brand normal-link" href="fruit_cart.html">
                                <img src="../statics/icon/shopping-cart.svg" alt="Cart" style="width:40px;">
                            </a>
                        </li>
                    </ul>
            </div>
        </div>
    </nav>

    <div id="content" class="container pt-3 pb-5">
        <h1 class="pt-4 font-weight-bold">About us</h1>
        <div class="container row pt-5">
            <div class="col-md-8">
                <h3 class="font-weight-bold">Why Targo backpackers?</h3>
                <p class="pt-3">A town that is quality for people who want to re-apply their visa quickly by getting 88 days farm work. As soon as this 88 days are done, you can re-apply for your 2nd year visa and continue on your traveling journey.</p>
            </div>
            <div class="col-md-4">
                <img src="../statics/image/background/background1.jpg">
            </div>
        </div>

        <div class="container row pt-5">
            <div class="col-md-8">
                <h3 class="font-weight-bold">Working Place Overview</h3>
                <p class="pt-3">Near major shopping centre: Hinkler shopping centre. You would normally don’t need a car. A short stroll is enough to bundaberg city center. Work are provided all year around friend staff. Working along side with the mose prestigious farms in bundaberg such as SSS Strawberries lychee farm & mangoes</p>
            </div>
            <div class="col-md-4">
                <img src="../statics/image/background/background1.jpg">
            </div>
        </div>

        <div class="container row pt-5">
            <div class="col-md-8">
                <h3 class="font-weight-bold">Payment</h3>
                <p class="pt-3">Providing great piece rates for those who are keen to work hard as you potential allowed. Employee gets paid for the amount picked, packed, pruned or made on hourly or weekly. An employee can be hired to work a mix of piece rates and hourly rate shift. Certain pay rates range from $19.90 to $25 per hour.</p>
            </div>
            <div class="col-md-4">
                <img src="../statics/image/background/background1.jpg">
            </div>
        </div>
        <div class="rounded embed-responsive embed-responsive-16by9 mt-5">
            <video id="WelcomVideo" controls loop>
                <source src="../statics/welcomeClip.mp4" type="video/mp4">
            </video>
        </div>
    </div>

    <footer class="container-fluid shadow-div mt-auto pt-4">
        <div class="container">            
            <div class="row">
                <div class="col-md-3 mx-auto">
                    <h5 class="font-weight-bold">Targo Backpackers</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a class="normal-link" href="home.html">Home</a>
                        </li>
                        <li>
                            <a class="normal-link" href="job.html">Jobs</a>
                        </li>
                        <li>
                            <a class="normal-link" href="fruit.html">Fruit</a>
                        </li>
                        <li>
                            <a class="normal-link" href="stay.html">Rooms</a>
                        </li>
                        <li>
                            <a class="normal-link" href="faq.html">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5 class="font-weight-bold">About</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a class="normal-link" href="about.html">Why Targo Backpackers?</a>
                        </li>
                        <li>
                            <a class="normal-link" href="about.html">Working Place Overview</a>
                        </li>
                        <li>
                            <a class="normal-link" href="about.html">Payment</a>
                        </li>
                    </ul>
                </div>                
                <div class="col-md-3 mx-auto">
                    <h5 class="font-weight-bold">Agreements</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a class="normal-link" href="template/faq.html">Team & Policies</a>
                        </li>
                        <li>
                            <a class="normal-link" href="template/faq.html">Privacy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 mx-auto">
                    <h5 class="font-weight-bold">Contact Us</h5>
                    <p>Tel: +64 491 570 156 <bre>
                        Email: admin@gmail.com <bre>
                        105 Targo street Bundaberg Qld.</p>
                    <div class="row px-3">
                        <a class="pr-3" href="#" style>
                            <img src="https://img.icons8.com/color/48/000000/facebook-circled.png" style="width:2vw;"/>
                        </a>
                        <a class="pr-3" href="#">
                            <img src="https://img.icons8.com/color/48/000000/twitter-circled.png" style="width:2vw;"/>
                        </a>
                        <a href="#">
                            <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png" style="width:2vw;"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-between pt-4">
                <p>@2019 Group 3 HCMUS, All rights reversed.</p>
                <a class="orange-link" href="">go to admin</a>
            </div>
        </div>
    </footer>
</div>
</body>
</html> 