<!DOCTYPE html>
<html>
<head>
    <title>FAQ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
        crossorigin="anonymous"
    >
    <link 
        rel="stylesheet" 
        href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
    >
    <link 
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" 
        rel="stylesheet"
    >
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="../statics/css/style.css"
    >
</head>

<body>
<div>
    <nav class="navbar navbar-expand-xl navbar-light d-flex shadow-div">
        <div class="container">
            <div class="mr-auto p-2">
                <a class="navbar-brand" href="#">
                    <img src="../statics/icon/Logotargo.svg" alt="Logo">
                </a>
            </div>

            <div class="col-md-6 p-2">
                    <ul class="nav justify-content-between list-unstyled">
                        <li>
                            <a class="nav-link normal-link" href="home.html"><h5>Home</h5></a>
                        </li>
                        <li>
                            <a class="nav-link normal-link" href="job.html"><h5>Job</h5></a>
                        </li>
                        <li>
                            <a class="nav-link normal-link" href="fruit.html"><h5>Fruit</h5></a>
                        </li>
                        <li>
                            <a class="nav-link normal-link" href="stay.html"><h5>Room</h5></a>
                        </li>
                        <li>
                            <a class="nav-link normal-link" href="faq.html"><h5 class="font-weight-bold">FAQ</h5></a>
                        </li>
                        <li>
                            <a class="nav-brand normal-link" href="fruit_cart.html">
                                <img src="../statics/icon/shopping-cart.svg" alt="Cart" style="width:40px;">
                            </a>
                        </li>
                    </ul>
            </div>
        </div>
    </nav>

    <div id="content" class="container pt-3 pb-5">
        <h2 class="font-weight-bold pt-3">FAQ</h2>
        <p class="pt-3">All the most frequent questions, we are here to answer them.</p>
        <p class="pt-3">
            <b>1. Our hostel address?</b> <br>
            TARGO Backpackers Hostel. 105 Targo street Bundaberg Qld. <br>
            <br>
            <b>2. What work do you have going on at the moment?</b><br>
            At the moment wer have picking strawberries. Then after strawberries we have  lychees then after lychees we have mangoes.<br>
            <br>
            <b>3. How much can a person pick per day in average?</b><br>
            With strawberries currently a person can pick from 200kg to 600kg and on average person can pick 300kg a day.<br>
            <br>
            <b>4. When does strawberry season end?</b><br>
            SEPTEMBER / NOVEMBER<br>
            <br>
            <b>5. How many days a week will we work and how many hours a day?</b><br>
            At the moment we work 5 to 6 days a week. About 6-9 hours a day from 6am to 1pm. Depending on the weather.<br>
            <br>
            <b>6. Is the accommodation for boys and girls seperate?</b><br>
            Yes, it is.<br>
            <br>
            <b>7. Is the accommodation rate inclusive of the utilities, internet an dother amenities?</b><br>
            accommodation include rates and all utilities and amenities include wifi.<br>
            <br>
            <b>8. How about food?</b><br>
            You have to get your own food.<br>
            <br>
            <b>9. Transport from accommodation to work?</b><br>
            It is $5 a person including drop off and pick up.<br>
            <br>
            <b>10. How I can get my salary, will it be paid everyday or once a week?</b><br>
            Salary will be paid weekly in cash envelopes or direct deposit depending on the contractors.<br>
            <br>
            <br>
            <br>
            <br>
        </p>
    </div>

    <footer class="container-fluid shadow-div mt-auto pt-4">
        <div class="container">            
            <div class="row">
                <div class="col-md-3 mx-auto">
                    <h5 class="font-weight-bold">Targo Backpackers</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a class="normal-link" href="home.html">Home</a>
                        </li>
                        <li>
                            <a class="normal-link" href="job.html">Jobs</a>
                        </li>
                        <li>
                            <a class="normal-link" href="fruit.html">Fruit</a>
                        </li>
                        <li>
                            <a class="normal-link" href="stay.html">Rooms</a>
                        </li>
                        <li>
                            <a class="normal-link" href="faq.html">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5 class="font-weight-bold">About</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a class="normal-link" href="about.html">Why Targo Backpackers?</a>
                        </li>
                        <li>
                            <a class="normal-link" href="about.html">Working Place Overview</a>
                        </li>
                        <li>
                            <a class="normal-link" href="about.html">Payment</a>
                        </li>
                    </ul>
                </div>                
                <div class="col-md-3 mx-auto">
                    <h5 class="font-weight-bold">Agreements</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a class="normal-link" href="template/faq.html">Team & Policies</a>
                        </li>
                        <li>
                            <a class="normal-link" href="template/faq.html">Privacy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 mx-auto">
                    <h5 class="font-weight-bold">Contact Us</h5>
                    <p>Tel: +64 491 570 156 <bre>
                        Email: admin@gmail.com <bre>
                        105 Targo street Bundaberg Qld.</p>
                    <div class="row px-3">
                        <a class="pr-3" href="#" style>
                            <img src="https://img.icons8.com/color/48/000000/facebook-circled.png" style="width:2vw;"/>
                        </a>
                        <a class="pr-3" href="#">
                            <img src="https://img.icons8.com/color/48/000000/twitter-circled.png" style="width:2vw;"/>
                        </a>
                        <a href="#">
                            <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png" style="width:2vw;"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-between pt-4">
                <p>@2019 Group 3 HCMUS, All rights reversed.</p>
                <a class="orange-link" href="">go to admin</a>
            </div>
        </div>
    </footer>
</div>
</body>
</html> 