<!DOCTYPE html>
<html>
<head>
    <title>Buy Fruit</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
        crossorigin="anonymous"
    >
    <link 
        rel="stylesheet" 
        href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
    >
    <link 
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" 
        rel="stylesheet"
    >
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="../statics/css/style.css"
    >
</head>

<body>
    <nav class="navbar navbar-expand-xl navbar-light d-flex shadow-div">
        <div class="container">
            <div class="mr-auto p-2">
                <a class="navbar-brand" href="#">
                    <img src="../statics/icon/Logotargo.svg" alt="Logo">
                </a>
            </div>

            <div class="col-md-6 p-2">
                    <ul class="nav justify-content-between list-unstyled">
                        <li>
                            <a class="nav-link normal-link" href="home.html"><h5>Home</h5></a>
                        </li>
                        <li>
                            <a class="nav-link normal-link" href="job.html"><h5>Job</h5></a>
                        </li>
                        <li>
                            <a class="nav-link normal-link" href="fruit.html"><h5 class="font-weight-bold">Fruit</h5></a>
                        </li>
                        <li>
                            <a class="nav-link normal-link" href="stay.html"><h5>Room</h5></a>
                        </li>
                        <li>
                            <a class="nav-link normal-link" href="faq.html"><h5>FAQ</h5></a>
                        </li>
                        <li>
                            <a class="nav-brand" href="fruit_cart.html">
                                <img src="../statics/icon/shopping-cart.svg" alt="Cart" style="width:40px;">
                            </a>
                        </li>
                    </ul>
            </div>
        </div>    
    </nav>

    <div id="content" class="container pt-3 pb-5">
        <h2 class="font-weight-bold">Organic fruit and vegetables</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

        <div class="row pb-5">
            <div class="col-md-3 pt-5">
                <div 
                    class="background-fruit" 
                    style="background-image:url('../statics/image/strawberry/strawberry1.jpg');"
                >
                    <div class="container descrip-inside blur-behind">
                        <a class="normal-link text-white" href="fruit/fruit_detail.html">
                            <h3 class="font-weight-bolder">Strawberry</h3>
                        </a>
                        <p>from $5.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pt-5">
                <div 
                    class="background-fruit" 
                    style="background-image:
                        linear-gradient(to bottom, rgba(120, 120, 120, 0) 60%, rgba(0,0,0,0.88) 100%),
                        url('../statics/image/tomato/tomato1.jpg');"
                >
                    <div class="container descrip-inside blur-behind">
                        <h3 class="font-weight-bolder">tomato</h3>
                        <p>from $5.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pt-5">
                <div 
                    class="background-fruit" 
                    style="background-image:
                        linear-gradient(to bottom, rgba(120, 120, 120, 0) 60%, rgba(0,0,0,0.88) 100%),
                        url('../statics/image/mango/mango1.jpg');"
                >
                    <div class="container descrip-inside blur-behind">
                        <h3 class="font-weight-bolder">Mango</h3>
                        <p>from $5.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pt-5">
                <div 
                    class="background-fruit" 
                    style="background-image:
                        linear-gradient(to bottom, rgba(120, 120, 120, 0) 60%, rgba(0,0,0,0.88) 100%),
                        url('../statics/image/tomato/tomato1.jpg');"
                >
                    <div class="container descrip-inside blur-behind">
                        <h3 class="font-weight-bolder">Tomato</h3>
                        <p>from $5.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pt-5">
                <div 
                    class="background-fruit" 
                    style="background-image:
                        linear-gradient(to bottom, rgba(120, 120, 120, 0) 60%, rgba(0,0,0,0.88) 100%),
                        url('../statics/image/strawberry/strawberry1.jpg');"
                >
                    <div class="container descrip-inside blur-behind">
                        <h3 class="font-weight-bolder">Strawberry</h3>
                        <p>from $5.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pt-5">
                <div 
                    class="background-fruit" 
                    style="background-image:
                        linear-gradient(to bottom, rgba(120, 120, 120, 0) 60%, rgba(0,0,0,0.88) 100%),
                        url('../statics/image/tomato/tomato1.jpg');"
                >
                    <div class="container descrip-inside blur-behind">
                        <h3 class="font-weight-bolder">Strawberry</h3>
                        <p>from $5.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pt-5">
                <div 
                    class="background-fruit" 
                    style="background-image:
                        linear-gradient(to bottom, rgba(120, 120, 120, 0) 60%, rgba(0,0,0,0.88) 100%),
                        url('../statics/image/tomato/tomato1.jpg');"
                >
                    <div class="container descrip-inside blur-behind">
                        <h3 class="font-weight-bolder">Mango</h3>
                        <p>from $5.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pt-5">
                <div 
                    class="background-fruit" 
                    style="background-image:
                        linear-gradient(to bottom, rgba(120, 120, 120, 0) 60%, rgba(0,0,0,0.88) 100%),
                        url('../statics/image/tomato/tomato1.jpg');"
                >
                    <div class="container descrip-inside blur-behind">
                        <h3 class="font-weight-bolder">Tomato</h3>
                        <p>from $5.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <footer class="container-fluid shadow-div mt-auto pt-4">
        <div class="container">            
            <div class="row">
                <div class="col-md-3 mx-auto">
                    <h5 class="font-weight-bold">Targo Backpackers</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a class="normal-link" href="home.html">Home</a>
                        </li>
                        <li>
                            <a class="normal-link" href="job.html">Jobs</a>
                        </li>
                        <li>
                            <a class="normal-link" href="fruit.html">Fruit</a>
                        </li>
                        <li>
                            <a class="normal-link" href="stay.html">Rooms</a>
                        </li>
                        <li>
                            <a class="normal-link" href="faq.html">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5 class="font-weight-bold">About</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a class="normal-link" href="about.html">Why Targo Backpackers?</a>
                        </li>
                        <li>
                            <a class="normal-link" href="about.html">Working Place Overview</a>
                        </li>
                        <li>
                            <a class="normal-link" href="about.html">Payment</a>
                        </li>
                    </ul>
                </div>                
                <div class="col-md-3 mx-auto">
                    <h5 class="font-weight-bold">Agreements</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a class="normal-link" href="template/faq.html">Team & Policies</a>
                        </li>
                        <li>
                            <a class="normal-link" href="template/faq.html">Privacy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 mx-auto">
                    <h5 class="font-weight-bold">Contact Us</h5>
                    <p>Tel: +64 491 570 156 <bre>
                        Email: admin@gmail.com <bre>
                        105 Targo street Bundaberg Qld.</p>
                    <div class="row px-3">
                        <a class="pr-3" href="#" style>
                            <img src="https://img.icons8.com/color/48/000000/facebook-circled.png" style="width:2vw;"/>
                        </a>
                        <a class="pr-3" href="#">
                            <img src="https://img.icons8.com/color/48/000000/twitter-circled.png" style="width:2vw;"/>
                        </a>
                        <a href="#">
                            <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png" style="width:2vw;"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-between pt-4">
                <p>@2019 Group 3 HCMUS, All rights reversed.</p>
                <a class="orange-link" href="">go to admin</a>
            </div>
        </div>
    </footer>
</body>
</html> 