<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
        crossorigin="anonymous"
    >
    <link 
        rel="stylesheet" 
        href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
    >
    <link 
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" 
        rel="stylesheet"
    >
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="../statics/css/style.css"
    >
</head>

<body>
    <nav class="navbar navbar-expand-xl navbar-light d-flex shadow-div">
        <div class="container">
            <div class="mr-auto p-2">
                <a class="navbar-brand" href="template/about.html">
                    <img src="../statics/icon/Logotargo.svg" alt="Logo"/>
                </a>
            </div>

            <div class="col-md-6 p-2">
                    <ul class="nav justify-content-between list-unstyled">
                        <li>
                            <a class="nav-link normal-link" href="home.html"><h5 class="font-weight-bold">Home</h5></a>
                        </li>
                        <li>
                            <a class="nav-link normal-link" href="job.html"><h5>Job</h5></a>
                        </li>
                        <li>
                            <a class="nav-link normal-link" href="fruit.html"><h5>Fruit</h5></a>
                        </li>
                        <li>
                            <a class="nav-link normal-link" href="stay.html"><h5>Room</h5></a>
                        </li>
                        <li>
                            <a class="nav-link normal-link" href="faq.html"><h5>FAQ</h5></a>
                        </li>
                        <li>
                            <a class="nav-brand" href="template/fruit_cart.html">
                                <img src="../statics/icon/shopping-cart.svg" alt="Cart" style="width:40px;">
                            </a>
                        </li>
                    </ul>
            </div>
        </div>    
    </nav>

    <div id="welcome" class="container pt-5">
        <div class="row">
            <div class="col-md-8">
                <h1 class="font-weight-bold">Welcome, Backpacker!!!</h1>
                <p class="pt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <div class="rounded embed-responsive embed-responsive-16by9 col-md-9 pt-3">
                    <video id="WelcomVideo" controls loop>
                        <source src="../statics/welcomeClip.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <img 
                class="col-md-4"
                src="../statics/icon/travel.png" 
                alt="A traveler"
            >   
        </div>
    </div>


    <div id="fruit" class="container pt-5">
        <h2 class="font-weight-bold">Organic fruit and vegetables</h2>

        <div class="row pt-3">
            <div class="col-md-9">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
            <div class="col-md-3">
                <a class="bottom-right orange-link" href="fruit.html">see more</a>
            </div>
        </div>

        <div class="row pt-4 d-flex justify-content-between">
            <div class="col-md-3">
                <div 
                    class="background-fruit" 
                    style="background-image:
                        linear-gradient(to bottom, rgba(120, 120, 120, 0) 60%, rgba(0,0,0,0.88) 100%),
                        url('../statics/image/grape/grape1.jpg');"
                >
                    <div class="container descrip-inside">
                        <h3 class="font-weight-bolder">grape</h3>
                        <p>from $5.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div 
                    class="background-fruit" 
                    style="background-image:
                        linear-gradient(to bottom, rgba(111, 111, 111, 0) 60%, rgba(0,0,0,0.88) 100%),
                        url('../statics/image/strawberry/strawberry1.jpg');"
                >
                    <div class="container descrip-inside">
                        <a class="text-white" href="fruit/fruit_detail.html">
                            <h3 class="font-weight-bolder">Strawberry</h3>
                        </a>
                        <p>from $5.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div 
                    class="background-fruit" 
                    style="background-image:
                        linear-gradient(to bottom, rgba(120, 120, 120, 0) 60%, rgba(0,0,0,0.88) 100%),
                        url('../statics/image/mango/mango1.jpg');"
                >
                    <div class="container descrip-inside">
                        <h3 class="font-weight-bolder">Mango</h3>
                        <p>from $5.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div 
                    class="background-fruit background-darken" 
                    style="background-image: 
                        linear-gradient(to bottom, rgba(120, 120, 120, 0) 60%, rgba(0,0,0,0.88) 100%),
                        url('../statics/image/tomato/tomato1.jpg');"
                >                    
                    <div class="container descrip-inside">
                        <h3 class="font-weight-bolder">Tomato</h3>
                        <p>from $5.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="stay" class="container pt-5 pb-4">
        <h2 class="font-weight-bold">Luxury Stay</h2>
        <div class="row pt-3">
            <div class="col-md-9">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
            <div class="col-md-3">
                <a class="bottom-right orange-link" href="stay.html">see more</a>
            </div>
        </div>
        <div class="row pt-4 d-flex justify-content-between">
            <div class="col-md-3">
                <img 
                    class="shadow"
                    src="../statics/image/rooms/room1.jpg"
                    style="height:20vh;"
                />
                </img>
                <div class="pt-3">
                    <h4 class="font-weight-bold">Basic Room</h4>
                    <p>from $10.00/night</p>
                </div>
            </div>
            <div class="col-md-3">
                <img 
                    class="shadow"
                    src="../statics/image/rooms/room2.jpg"
                    style="height:20vh;"
                />
                <div class="pt-3">
                    <h4 class="font-weight-bold">Modern Room</h4>
                    <p>from $10.00/night</p>
                </div>
            </div>
            <div class="col-md-3">
                <img 
                    class="shadow"
                    src="../statics/image/rooms/room3.jpg"
                    style="height:20vh;"
                />
                <div class="pt-3">
                    <h4 class="font-weight-bold">Traditional Room</h4>
                    <p>from $10.00/night</p>
                </div>
            </div>
            <div class="col-md-3">
                <img 
                    class="shadow"
                    src="../statics/image/rooms/room4.jpg"
                    style="height:20vh;"
                />
                <div class="pt-3">
                    <a class="normal-link" href="room/room_detail.html">
                        <h4 class="font-weight-bold">Luxury Room</h4>
                    </a>
                    <p>from $10.00/night</p>
                </div>
            </div>
        </div>
    </div>

    <div id="image-ad" class="container py-5">
        <div class="row">
            <div class="col-md-6">
                <img src="../statics/image/background/background1.jpg">
            </div>
            <div class="col-md-6">
                <img src="../statics/image/background/background2.jpg">
            </div>
        </div>
    </div>

    <div id="job" class="container pt-5 pb-5">
        <h2 class="font-weight-bold">Well-paid part time jobs</h2>
        <div class="row pt-3">
            <div class="col-md-9">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
            <div class="col-md-3">
                <a class="bottom-right orange-link" href="job.html">see more</a>
            </div>
        </div>
        <div class="row pt-5 pb-5 d-flex justify-content-between">
            <div class="col-md-3">
                <img 
                    class="shadow"
                    src="../statics//image/strawberry/strawberry1.jpg"
                    style="height:20vh;"
                />
                <div class="pt-3">
                    <a class="normal-link" href="job/job_detail.html">
                        <h4 class="font-weight-bold">Strawberry collector</h4>
                    </a>
                    <p>from $10.00/night</p>
                </div>
            </div>
            <div class="col-md-3">
                <img 
                    class="shadow"
                    src="../statics/image/grape/grape1.jpg"
                    style="height:20vh;"
                />
                <div class="pt-3">
                    <h4 class="font-weight-bold">Grape Collector</h4>
                    <p style="font-size:100%">from $10.00/night</p>
                </div>
            </div>
            <div class="col-md-3">
                <img
                    class="shadow"
                    src="../statics/image/tomato/tomato1.jpg"
                    style="height:20vh;"
                />
                <div class="pt-3">
                    <h4 class="font-weight-bold">Tomato Collector</h4>
                    <p>from $10.00/night</p>
                </div>
            </div>
            <div class="col-md-3">
                <img 
                    class="shadow"
                    src="../statics/image/mango/mango1.jpg"
                    style="height:20vh;"
                />
                <div class="pt-3">
                    <h4 class="font-weight-bold">Mango Collector</h4>
                    <p>from $10.00/night</p>
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid shadow-div mt-auto pt-4">
        <div class="container">            
            <div class="row">
                <div class="col-md-3 mx-auto">
                    <h5 class="font-weight-bold">Targo Backpackers</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a class="normal-link" href="home.html">Home</a>
                        </li>
                        <li>
                            <a class="normal-link" href="job.html">Jobs</a>
                        </li>
                        <li>
                            <a class="normal-link" href="fruit.html">Fruit</a>
                        </li>
                        <li>
                            <a class="normal-link" href="stay.html">Rooms</a>
                        </li>
                        <li>
                            <a class="normal-link" href="faq.html">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5 class="font-weight-bold">About</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a class="normal-link" href="about.html">Why Targo Backpackers?</a>
                        </li>
                        <li>
                            <a class="normal-link" href="about.html">Working Place Overview</a>
                        </li>
                        <li>
                            <a class="normal-link" href="about.html">Payment</a>
                        </li>
                    </ul>
                </div>                
                <div class="col-md-3 mx-auto">
                    <h5 class="font-weight-bold">Agreements</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a class="normal-link" href="template/faq.html">Team & Policies</a>
                        </li>
                        <li>
                            <a class="normal-link" href="template/faq.html">Privacy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 mx-auto">
                    <h5 class="font-weight-bold">Contact Us</h5>
                    <p>Tel: +64 491 570 156 <bre>
                        Email: admin@gmail.com <bre>
                        105 Targo street Bundaberg Qld.</p>
                    <div class="row px-3">
                        <a class="pr-3" href="#" style>
                            <img src="https://img.icons8.com/color/48/000000/facebook-circled.png" style="width:2vw;"/>
                        </a>
                        <a class="pr-3" href="#">
                            <img src="https://img.icons8.com/color/48/000000/twitter-circled.png" style="width:2vw;"/>
                        </a>
                        <a href="#">
                            <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png" style="width:2vw;"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-between pt-4">
                <p>@2019 Group 3 HCMUS, All rights reversed.</p>
                <a class="orange-link" href="">go to admin</a>
            </div>
        </div>
    </footer>
</body>
</html> 