<!DOCTYPE html>
<html>
<head>
    <title>Job</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
        crossorigin="anonymous"
    >
    <link 
        rel="stylesheet" 
        href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
    >
    <link 
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" 
        rel="stylesheet"
    >
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="../statics/css/style.css"
    >
</head>

<body>
<div>
    <nav class="navbar navbar-expand-xl navbar-light d-flex shadow-div">
        <div class="container">
            <div class="mr-auto p-2">
                <a class="navbar-brand" href="#">
                    <img src="../statics/Logotargo.svg" alt="Logo">
                </a>
            </div>

            <div class="col-md-6 p-2">
                    <ul class="nav justify-content-between list-unstyled">
                        <li>
                            <a class="nav-link" href="home.html"><h5>Home</h5></a>
                        </li>
                        <li>
                            <a class="nav-link" href="job.html"><h5 class="font-weight-bold">Job</h5></a>
                        </li>
                        <li>
                            <a class="nav-link" href="fruit.html"><h5>Fruit</h5></a>
                        </li>
                        <li>
                            <a class="nav-link" href="stay.html"><h5>Room</h5></a>
                        </li>
                        <li>
                            <a class="nav-link" href="faq.html"><h5>FAQ</h5></a>
                        </li>
                        <li>
                            <a class="nav-brand" href="#">
                                <img src="../statics/shopping-cart.svg" alt="Cart" style="width:40px;">
                            </a>
                        </li>
                    </ul>
            </div>
        </div>
    </nav>

    <div id="content" class="container pt-3 pb-5">
        <h2 class="font-weight-bold">Luxury Stay</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

        <div class="row pb-5">
            <div class="col-md-3 pt-5">
                <img 
                    src="../statics/strawberry/strawberry1.jpg"
                    style="height:20vh;"
                />
                <div class="pt-3">
                    <h4 class="font-weight-bold">Strawberry collector</h4>
                    <p style="font-size:100%">from $10.00/night</p>
                </div>
            </div>
            <div class="col-md-3 pt-5">
                <img 
                    src="../statics/strawberry/strawberry1.jpg"
                    style="height:20vh;"
                />
                <div class="pt-3">
                    <h4 class="font-weight-bold">Grape Collector</h4>
                    <p style="font-size:100%">from $10.00/night</p>
                </div>
            </div>
            <div class="col-md-3 pt-5">
                <img 
                    src="../statics/strawberry/strawberry1.jpg"
                    style="height:20vh;"
                />
                <div class="pt-3">
                    <h4 class="font-weight-bold">Tomato Collector</h4>
                    <p style="font-size:100%">from $10.00/night</p>
                </div>
            </div>
            <div class="col-md-3 pt-5">
                <img 
                    src="../statics/strawberry/strawberry1.jpg"
                    style="height:20vh;"
                />
                <div class="pt-3">
                    <h4 class="font-weight-bold">Mango Collector</h4>
                    <p style="font-size:100%">from $10.00/night</p>
                </div>
            </div>
        </div>
    </div>

    <footer id="footerr" class="container-fluid shadow-div pt-3">
        <div class="container py-3">
            <div class="row">
                <div class="col-md-3">
                    <h5 class="font-weight-bold">Targo Backpackers</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a style="color: #2C3E50;" href="#">Home</a>
                        </li>
                        <li>
                            <a style="color: #2C3E50;" href="#">Jobs</a>
                        </li>
                        <li>
                            <a style="color: #2C3E50;" href="#">Fruit</a>
                        </li>
                        <li>
                            <a style="color: #2C3E50;" href="#">Rooms</a>
                        </li>
                        <li>
                            <a style="color: #2C3E50;" href="#">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <a style="color: #2C3E50;" href="about.html"><h5 class="font-weight-bold">About</h5></a>
                    <ul class="list-unstyled">
                        <li>
                            <a style="color: #2C3E50;" href="about.html">Why Targo Backpackers?</a>
                        </li>
                        <li>
                            <a style="color: #2C3E50;" href="about.html">Working Place Overview</a>
                        </li>
                        <li>
                            <a style="color: #2C3E50;" href="about.html">Payment</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5 class="font-weight-bold">Agreements</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a style="color: #2C3E50;" href="">Team & Policies</a>
                        </li>
                        <li>
                            <a style="color: #2C3E50;" href="">Privacy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-1 offset-md-2">
                    <a href="#">
                        <img src="https://img.icons8.com/ios/50/000000/exit.png" style="width:2vw;"/>
                    </a>
                    <p>Admin</p>
                </div>
            </div>
            <div class="row d-flex justify-content-between pt-4">
                <p>@2019 Group 3 HCMUS, All rights reversed.</p>
                <div class="row px-3">
                    <a class="pr-3" href="" style>
                        <img src="https://img.icons8.com/color/48/000000/facebook-circled.png" style="width:2vw;"/>
                    </a>
                    <a class="pr-3" href="">
                        <img src="https://img.icons8.com/color/48/000000/twitter-circled.png" style="width:2vw;"/>
                    </a>
                    <a href="">
                        <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png" style="width:2vw;"/>
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html> 