body {
    font-family: 'Open Sans', sans-serif;
    color: #2C3E50; 
}
img {
    border-radius: 5px;
    width: 100%;
    object-fit: cover;
}

.shadow-div {
    position: relative;
    bottom: 0;
    box-shadow: 0px -1px 50px -35px;
}

.orange-link {
    font-family: 'Open Sans', sans-serif;
    color: #F65E39;
}

.nav-link {
    font-family: 'Open Sans', sans-serif;
    color:#2C3E50;
}

.bottom-right {
    position: absolute;
    right: 15px;
    bottom: 2vh;
}

.descrip-inside {
    position: absolute;
    bottom: 0;
    color: #FFFFFF;
}
.blur-behind {
    backdrop-filter: blur(1px);
}